* {
    margin: 0;
    padding: 0;
    background-color: gray;
}
.header {
    text-align: center;
    background-color: black;
    color: aqua;
}
.links {
    text-align: center;
    margin: 5px 0px;
}
.links a {
    margin: 0px 50px;
    color: aquamarine;
}